@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ratio: 1440 * 1vw * 100;
}

html {
  scroll-behavior: smooth;
}

body {
  background: theme(colors.gray);
  overflow-x: hidden;
}

section {
  scroll-margin-block-start: 6rem;
}

@media only screen and (max-width: 431px) {
  body {
    width: 100vw;
  }

  .w-full {
    height: 100vh;
  }

  h1 {
    font-size: 40px !important;
    line-height: 48px !important;
  }

  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  #svelte {
    overflow: hidden;
  }

  .contact {
    width: 190px !important;
    height: 60px;
    margin-block-start: 48px !important;
    padding: 16px 26px !important;
    font-size: 18px !important;
    line-height: 28px !important;
  }

  .contact img {
    width: 16px !important;
  }
}

em {
  font-style: normal;
  position: relative;

  &::before {
    display: inline-block;
    height: calc(4 / var(--ratio));
    width: 100%;
    background: theme("colors.green");
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(2 / var(--ratio));
    z-index: -1;
  }
}

h1 em::before {
  height: calc(8 / var(--ratio));
  bottom: calc(8 / var(--ratio));
}