.dots {
  display: none;

  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 0;

  &.dots--visible {
    display: flex;
  }

  @media only screen and (max-width: 431px) {
    display: flex;
  }
}

.dots__button {
  appearance: none;
  border-radius: 100%;
  background-color: #dbdbdb;
  height: 12px;
  width: 12px;
  transition: background-color .2s;

  &:hover,
  &:active {
    background-color: #999;
  }

  &.active {
    background-color: #6c6c6c;
  }
}