:root {
  --ratio: 1440 * 1vw * 100;
}

html {
  scroll-behavior: smooth;
}

em {
  font-style: normal;
  position: relative;
}

em::before {
  display: inline-block;
  height: calc(4 / var(--ratio));
  width: 100%;
  background: theme("colors.green");
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(2 / var(--ratio));
  z-index: -1;
}

h1 em::before {
  height: calc(8 / var(--ratio));
  bottom: calc(8 / var(--ratio));
}
