html {
  height: 100%;
}

body {
  height: 100%;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid;
    border-color: transparent !important;
    box-shadow: none;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    margin-bottom: 0px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  margin-left: -13px;
  z-index: 105;
  margin-bottom: 15px;
}

#page {
  height: 100%;
}

::-moz-selection {
  background-color: #efefef;
  color: #ffffff;
}

::selection {
  background-color: #efefef;
  color: #ffffff;
}

p {
  font-weight: 300;
  line-height: 1.5;
  color: #5f6a7d;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin: 0 0 30;
}

h1 {
  font-size: 38px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 64px;
}
h5 {
  font-size: 18px;
  text-transform: uppercase;
  color: #98c93f;
}
h6 {
  font-size: 14px;
}

/*! Sub Heading */

span.sub-heading-big {
  font-size: 16px;
}

span.sub-heading-small {
  font-size: 14px;
}

span.sub-heading-big,
span.sub-heading-small {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

h5,
h6 {
  font-weight: 600;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.label {
  font-size: 12px;
  font-weight: normal;
  color: #2cba6f;
  border: 1px solid #2cba6f;
  padding: 0.4em 0.6em 0.3em;
  margin-right: 10px;
}

span.panel-price-number {
  font-size: 48px;
}

span.panel-price-text {
  font-size: 14px;
}

/*!   BUTTONS   */

.btn {
  padding: 20px 42px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  border-color: transparent;
  color: #fff;
  margin-top: 14px;
  margin-bottom: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}

.btn-sharp {
  border-radius: 0px;
}

.btn-sm {
  padding: 8px 42px;
  height: 30px;
}
.btn-lg {
  padding: 24px 42px;
}
.btn-rounded {
  border-radius: 35px;
}

.btn-dark {
  background-color: #303030;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-color: #202020;
  color: #fff;
  border-color: transparent;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark .badge {
  color: #fff;
  background-color: #333;
}

.btn-white {
  background-color: #fff;
  color: #202020;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-color: #202020;
  color: #fff;
  border-color: transparent;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white .badge {
  color: #fff;
  background-color: #333;
}

.btn-bordered {
  border: 1px solid #202020;
  background-color: transparent;
  color: #202020;
}
.btn-bordered:hover,
.btn-bordered:focus,
.btn-bordered:active,
.btn-bordered.active,
.open > .dropdown-toggle.btn-bordered {
  background-color: #202020;
  color: #fff;
  border-color: transparent;
}
.btn-bordered:active,
.btn-bordered.active,
.open > .dropdown-toggle.btn-bordered {
  background-image: none;
}
.btn-bordered .badge {
  color: #fff;
  background-color: #333;
}

.btn-bordered-light {
}
.btn-bordered-light:hover,
.btn-bordered-light:focus,
.btn-bordered-light:active,
.btn-bordered-light.active,
.open > .dropdown-toggle.btn-bordered-light {
  background-color: #fff;
  color: #202020;
  border-color: transparent;
}
.btn-bordered-light:active,
.btn-bordered-light.active,
.open > .dropdown-toggle.btn-bordered-light {
  background-image: none;
}
.btn-bordered-light .badge {
  color: #fff;
  background-color: #333;
}

.btn-green {
  background-color: #43cb83;
  color: #fff;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-color: #2da867;
  color: #fff;
  border-color: transparent;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-transparent {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active,
.open > .dropdown-toggle.btn-transparent {
  background-color: rgba(255, 255, 255, 0.44);
  color: #fff;
  border-color: transparent;
}
.btn-transparent:active,
.btn-transparent.active,
.open > .dropdown-toggle.btn-transparent {
  background-image: none;
}
.btn-transparent .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-link {
  background-color: rgba(209, 47, 47, 0);
  color: rgb(53, 182, 192);
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  text-decoration: none;
  color: rgb(42, 144, 152);
}
.btn-link:hover,
.btn-link:focus {
  color: rgb(42, 144, 152);
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}

/*! Custom CSS */

.arrow::after {
  display: inline-block;
  content: ">";
  position: relative;
  top: -1px;
  margin-left: 3px;
  line-height: 1;
}

.bg-blue {
  background-color: #b2ddf0;
  color: #fff;
}

.bg-blue p {
  color: #fff;
}

.bg-green {
  background-color: #00cc7b;
  color: #fff;
}

.bg-green p {
  color: #d9fada;
}

.bg-red {
  background-color: #d64541;
  color: #fff;
}

.bg-red p {
  color: #ffcdd2;
}

.bg-yellow {
  background-color: #f7ca18;
  color: #fff;
}

.bg-yellow p {
  color: #f7f1f7;
}

.bg-orange {
  background-color: #ff5b34;
  color: #fff;
}

.bg-orange p {
  color: #f7f1f7;
}

.bg-gray {
  background-color: #f8f8f8;
  border-color: #e0e0e0;
}
.bg-gray span {
  color: #666;
}

.bg-bordered-dark {
  border: 2px solid #222222;
}
.bg-bordered-light {
  border: 2px solid #f8f8f8;
}

.bg-dark {
  color: #fff;
  background-color: #222222;
  border-color: #e0e0e0;
}

.bg-dark p {
  color: #dedde4;
}
.bg-dark a {
  color: #fff;
  background-color: #98c93f;
  font-weight: bold;
}
.bg-dark .btn-white {
  color: #202020;
}

.vertical-center {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

p.description {
  font-size: 14px;
}

.img-responsive {
  min-width: 100%;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*! NAVBAR SECTION */

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 40px;
  text-align: center;
  background-color: transparent;
}
.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
  margin-left: -40px;
}
.navbar > .container .navbar-brand-centered a {
  padding: 0px;
}
.navbar > .container .navbar-brand-centered img {
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar-brand img {
  margin-top: 6px;
  margin-bottom: 6px;
  max-height: 38px;
}

.navbar-big .navbar-brand img {
  margin-top: 4px;
  margin-bottom: 4px;
  max-height: 42px;
}

.navbar {
  border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-wrapper {
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 17px 5px;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.navbar-nav > li > a > i {
  font-size: 14px;
}
.navbar-nav > li > a.nav-icon {
  padding-left: 3px;
  padding-right: 3px;
}

@media (max-width: 991px) {
  .navbar-nav > li > a {
    padding-top: 2px;
    margin: 5px;
  }
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
  color: #dbdbdb;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #dbdbdb;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dbdbdb;
  background-color: transparent;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-transparent-collapsed {
  background-color: #fff;
}

.navbar-transparent .navbar-nav > li > a {
  color: #fff;
}

.navbar-transparent-collapsed .navbar-nav > li > a {
  color: #222;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
  color: #dbdbdb;
}

.navbar-transparent .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-transparent-dark {
}

.navbar-transparent-dark-collapsed {
  background-color: #fff;
}

.navbar-transparent-dark .navbar-nav > li > a {
  color: #fff;
}

.navbar-transparent-dark .navbar-nav > li > a {
  color: #222;
}

.navbar-transparent-dark .navbar-nav > li > a:hover,
.navbar-transparent-dark .navbar-nav > li > a:focus {
  color: #dbdbdb;
}

.navbar-transparent-dark .navbar-toggle .icon-bar {
  background-color: #222;
}

@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 80px;
    text-align: center;
  }
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -40px;
  }
}

.navbar-big .container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-big .btn {
  margin-top: 17px;
}

.carousel-inner > .item > img {
  background-position: center center;
  float: center;
  margin: 0 auto;
  background-size: cover;
  min-width: 100%;
  max-width: 400%;
  min-height: 100%;
  max-height: 100%;
  /* min-width: 100vw;
  min-height: 100vh;
  height: auto; */
}

.carousel-inner > .item {
  min-height: 100% !important;
}

.carousel-indicators li {
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0px 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border-color: transparent;
  transition: ease all 0.3s;
}

.carousel-indicators .active {
  width: 5px;
  height: 5px;
  margin: -1px 10px;
}

.carousel-caption {
  top: 30%;
}

@media (max-width: 767px) {
  .carousel-caption {
    top: 18%;
  }
}

@media (max-width: 420px) {
  .carousel-caption {
    top: 10%;
  }
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.play-button {
  max-width: 50px;
  height: auto;
  margin-top: 10px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;

  -webkit-transition-duration: 2s; /* Safari */
  transition-duration: 2s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*! HEADERS ======================================
=============================================== */

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 14px 0;
  font-size: 20px;
  line-height: 1.428571429;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 20px;
}

.btn-social-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 1.428571429;
  border-radius: 0px;
  color: #202020;
  background-color: transparent;
}

.btn-social-icon:hover,
.btn-social-icon:focus {
  background-color: transparent;
  color: #50bae2;
}

.bg-dark .btn-social-icon,
.bg-dark .btn-social-icon-sm {
  color: #fff;
}

.bg-dark .btn-social-icon:hover,
.bg-dark .btn-social-icon:focus,
.bg-dark .btn-social-icon-sm:hover,
.bg-dark .btn-social-icon-sm:focus {
  background-color: transparent;
  color: #50bae2;
}

.btn-social-icon-sm {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 0px;
  color: #202020;
  background-color: transparent;
}

.btn-social-icon-sm:hover,
.btn-social-icon-sm:focus {
  background-color: transparent;
  color: #50bae2;
}

@media (max-width: 991px) {
  .nav > li {
    text-align: center;
  }
  .navbar-nav:last-child {
    margin-top: 0px;
  }
  .navbar-nav > li > a:last-child {
    margin-bottom: 0px !important;
  }
}

.nav-justified {
  padding-left: 20%;
  padding-right: 20%;
}

.navbar-inverse .nav-justified > li > a {
  color: #fff;
}

.navbar-inverse .nav-justified > li > a:hover {
  color: #00cc7b;
  background-color: transparent !important;
}

.logo {
  width: 100vw;
  height: 100vh;
  padding-bottom: 120px;
}

.logo img {
  padding: 25vh 25vw 25vh 25vw;
  height: 100%;
  width: 100%;
}

.logo-text img {
  height: 60px;
}
