@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeue-webfont.woff") format("woff"),
    url("../fonts/BebasNeue-webfont.ttf") format("truetype"),
    url("../fonts/BebasNeue-webfont.svg#BebasNeue-webfont") format("svg");
}

/* Content Blocks CSS */

.content-1 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-4 {
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.2),
      rgba(30, 33, 37, 0.2)
    ),
    url(../images/content/content-4.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.content-6 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-6 p {
  margin-bottom: 40px;
}

.content-7 .image-xs {
  max-width: 100%;
  max-height: 30px;
}

@media (max-width: 776px) {
  .content-7 .box-author *:last-child {
    margin-right: 22px;
  }
}

.content-7.bg {
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.3),
      rgba(30, 33, 37, 0.3)
    ),
    url(../images/content/content-7.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.content-9 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-11 {
  background-image: url(../images/content/content-11.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.content-11 p {
  color: #fafafa;
}

.content-15 {
  background-image: url(../images/content/content-15.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.content-15 p {
  color: #a2a5a6;
}

.content-17 {
  background-image: url(../images/content/content-17.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.content-15 p {
  color: #a2a5a6;
}

.content-21 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-6 h2,
.content-21 h2 {
  margin-bottom: 40px;
}

.content-21 .strong {
  font-size: 15px;
  color: #cccccc;
  padding-bottom: 0px;
}

.content-21 .img-responsive {
  padding-top: 30px;
  padding-bottom: 14px;
}

/*! Hero News */

.content-24 {
  border-color: #e0e0e0;
  text-align: center;
}

.content-24 p {
  font-size: 15px;
  margin-bottom: 0px;
}

.content-24 a {
  font-size: 15px;
  text-transform: none;
  letter-spacing: 0px;
}
.news-title {
  font-weight: 600;
}

.content-33 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-33 h2 {
  margin-bottom: 40px;
  font-weight: 100;
  letter-spacing: 0.8px;
}

.content-35 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-33 a,
.content-33 h3,
.content-35 a,
.content-35 h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
}

.content-33 .item,
.content-35 .item {
  border-radius: 4px;
  padding: 20px 20px 10px;
}

.content-33 .item:active,
.content-33 .item:hover,
.content-33 .item:focus,
.content-35 .item:active,
.content-35 .item:hover,
.content-35 .item:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.content-34 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-34 .item {
  border-radius: 4px;
  padding: 20px 40px 10px;
  border: 1px solid;
  border-color: #cccccc;
  margin-top: 20px;
}

.content-34 .item:active,
.content-34 .item:hover,
.content-34 .item:focus {
  background-color: rgba(32, 32, 32, 0.03);
  border-color: transparent;
}

/*! Content #2 */

.content-2 {
}

.content-2 h3 {
  margin-top: 32px;
}

/*! Content 3 */

/*! Content 22 */

/*! Content 26 */

.content-26 h3 {
  padding-bottom: 30px;
}

/*! Content 30 */

.content-30,
.content-31 {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: #202020;
}

.content-30 .container,
.content-31 .container {
  position: relative;
  width: 100%;
}

.content-30 .article {
  position: absolute;
  left: 0;
  bottom: 10;
}

.content-30 img,
.content-31 img {
  height: 200px;
  background-size: cover;
  width: 100%;
  opacity: 0.3;
  transition: all 0.4s;
}

.content-30 img:hover,
.content-31 img:hover {
  opacity: 1;
}

.content-30 p,
.content-31 p {
  color: #cccccc;
}

.content-30 .col-md-6,
.content-31 .col-md-12 {
  padding: 0px;
}

.content-30 .caption,
.content-31 .caption {
  position: absolute;
  bottom: 0px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  text-transform: none;
}

.content-8 {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-8 p {
  color: #fff;
  margin-bottom: 0px;
  font-size: 20px;
}

.content-8 .btn {
  margin-left: 10px;
}

.content-13 {
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: url(../images/content/content-13.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media (max-width: 991px) {
  .content-13 {
    background-image: linear-gradient(
        rgba(30, 33, 37, 0.2),
        rgba(30, 33, 37, 0.8)
      ),
      url(../images/content/content-13.png);
  }
}

.content-22 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-22 img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.content-20 {
  border-bottom: 1px solid;
  border-color: #eeeeee;
}

.content-38 {
  height: 50%;
  bottom: 0;
  background-color: #202020;
}

.content-38 .container {
  padding-top: 60px;
}
.content-38 h2 {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 100;
  letter-spacing: 0.8px;
}

.content-18 .container {
  width: 100%;
  padding-left: 0px;
}

.content-18 img {
  width: 100%;
}

.content-18 .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}

.content-17 img {
  background-color: #fff;
  opacity: 0.1;
  margin-bottom: 20px;
  transition: all 0.4s;
}

.content-17 img:hover {
  opacity: 1;
  transition: all 0.4s;
}

.content-23 img {
  min-height: 200px;
  margin-bottom: 30px;
}

.content-23 p {
  margin-bottom: 50px;
}

/*! Content settings */

.content-2,
.content-3 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: transparent;
}

.content-2,
.content-3,
.content-26 {
  padding-top: 100px;
  padding-bottom: 80px;
}

.content-32 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-17 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.content-10,
.content-23 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-14 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.content-14 p.lead,
.content-7 p.lead {
  margin-bottom: 50px !important;
}

.content-20 {
  padding-top: 50px;
  padding-bottom: 0px;
}

.content-40-left {
  background: url(../images/content/content-40.jpg);
  background-position: 0%;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  height: 50vw;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  background-color: #fafafa;
  color: #202020;
}
.content-40-right {
  background: url(../images/content/content-40.jpg);
  background-position: 100%;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  height: 50vw;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
}
.content-40-left .container,
.content-40-right .container {
  width: 100%;
}

.content-40-left .col-md-6,
.content-40-right .col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}
.content-40-left .content,
.content-40-right .content {
  padding: 15%;
}

@media (max-width: 991px) {
  .content-40-left,
  .content-40-right {
    background-size: 100% 100%;
  }
  .content-40-left .content,
  .content-40-right .content {
    background-color: #fff;
  }
}

.content-44 {
  background-image: linear-gradient(rgba(30, 33, 37, 0.6), rgba(30, 33, 37, 0)),
    url(../images/content/content-44.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.content-44 p.sub {
  color: #e8e8e8;
}

.content-48 span.sub-heading-small {
  font-size: 12px;
  color: #303030;
  letter-spacing: 2px;
}

.content-53 {
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.3),
      rgba(30, 33, 37, 0.3)
    ),
    url(../images/content/content-53.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.box {
  padding: 30px;
}
.box img {
  max-width: 50px;
  max-height: 50px;
}
.box img.big {
  max-width: 100px;
  max-height: 100px;
}
.box-author * {
  display: inline-block;
  margin-right: 22px;
}
.box-author *:last-child {
  margin-right: 0px;
}

.content-v-align {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

@media (max-width: 521px) {
  .content-v-align {
    display: -webkit-block;
    display: -moz-block;
    display: -ms-block;
    display: block;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}

img.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.bg-fixed {
  background-attachment: fixed;
}

.navbar-transparent img.logo-light {
  display: inline;
}

.navbar-transparent img.logo-dark {
  display: none;
}

.navbar {
  padding: 0px;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
  padding: 5px;
  background-color: #fff;
  border-bottom: #f1f1f1 1px solid;
}
.top-nav-collapse.navbar-default .navbar-nav > li > a,
.top-nav-collapse.navbar-transparent .navbar-nav > li > a {
  color: #222;
}
.top-nav-collapse.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
  margin-left: -40px;
  visibility: visible;
}
.top-nav-collapse.navbar-brand-centered {
  margin-top: 4px;
  margin-bottom: 4px;
  visibility: visible;
}
.top-nav-collapse .navbar-toggle .icon-bar {
  background-color: #222;
}
.navbar-transparent.top-nav-collapse img.logo-light {
  display: none;
}
.navbar-transparent.top-nav-collapse img.logo-dark {
  display: inline;
}

/*! FOOTERS */

/*! Footer 1 */

.footer-1 {
  background-color: #1e2125;
  color: #fff;
}

.footer-1 .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-1 .container img {
  padding-top: 40%;
}

.footer-1 h3 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600 !important;
}

.footer-1 a {
  font-size: 15px;
  color: #b3b3b3;
  text-transform: none;
  font-weight: 400;
  line-height: 1.42857143;
}

.footer-1 a:hover,
.footer-1 a:active,
.footer-1 a:focus {
  color: #00cc7b;
  cursor: pointer !important;
}

@media (max-width: 767px) {
  .footer-1 img {
    padding-top: 20px;
  }
}

/*! Footer 2 */

.footer-2 {
  background-color: #1e2125;
  color: #fff;
}

.footer-2 .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-2 .container img {
  max-width: 100%;
}

.footer-2 a {
  font-size: 15px;
  color: #fff;
  padding: 5px 20px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.42857143;
}

.footer-2 a:hover,
.footer-2 a:active,
.footer-2 a:focus {
  color: #00cc7b;
  cursor: pointer !important;
}

.footer-2 .center {
  margin-top: 8px;
  margin-bottom: 8px;
}

/*! Footer 3 */

.footer-3 .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-3 .container img {
  padding-top: 10px;
}

.footer-3 h3 {
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.8;
  font-weight: 600 !important;
}

.footer-3 a {
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #fff;
  text-transform: none;
  font-weight: 400;
  line-height: 1.42857143;
}

.footer-3 a:hover,
.footer-3 a:active,
.footer-3 a:focus {
  color: #fefefe;
  cursor: pointer !important;
}

.footer-3 .container .copyright {
  margin-top: 18px;
  color: #dde0e3;
}

/*! Footer 4 */

.footer-4 {
  background-color: #1e2125;
  color: #fff;
}

.footer-4 .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-4 .container img {
  max-width: 100%;
}

.footer-4 a {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-transform: none;
  line-height: 1.42857143;
}

.footer-4 a:hover,
.footer-4 a:active,
.footer-4 a:focus {
  color: #fafafa;
  cursor: pointer !important;
}
@media (max-width: 767px) {
  .footer-4 .text-right {
    text-align: center;
  }
}

.footer-4 .center {
  margin-top: 8px;
  margin-bottom: 8px;
}
.footer-4 i {
  padding-left: 10px;
}

/*! Footer 5 */

.footer-5 .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-5 .container img {
  max-width: 100%;
}

.footer-5 a {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  text-transform: none;
  line-height: 1.42857143;
}

.footer-5 a:hover,
.footer-5 a:active,
.footer-5 a:focus {
  color: #fafafa;
  cursor: pointer !important;
}

.footer-5 .center {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .footer-5 .text-right,
  .footer-5 .text-left {
    text-align: center;
  }
}

.footer-5 i {
  padding-left: 10px;
}

.footerWrapper {
  padding-top: 0px;
}

.footer .navbar-brand img {
  width: 75px;
}

.footer .navbar-brand img.small {
  width: 30px;
}

.footer.dark {
  background: #292929;
  padding: 60px 0px 50px;
  font-weight: 200;
  color: #cbd0d3;
}

.footer.dark h2 {
  color: #fff;
  font-size: 34px;
  border-bottom: 1px solid #38393a;
  padding-bottom: 20px;
  margin-top: 0px;
}

.footer.dark span {
  text-transform: uppercase;
  font-size: 13px;
}

.footer.dark a,
.footer.dark a span {
  font-size: 26px;
  margin-right: 15px;
  color: #fff;
}

.widget a {
  font-weight: 500;
  color: #222;
}
.bg-dark .widget a {
  color: #fff;
}
.widget .recent-posts .date {
  display: block;
  letter-spacing: 0;
  opacity: 0.8;
}
.widget .tags li {
  float: left;
}
.widget .btn-sm {
  padding: 8px 12px;
  margin: 4px 2px;
}
.widget p {
  font-size: 14px;
  opacity: 0.8;
}

/*! HERO BLOCKS */

/* Hero 1 */

.hero-1 {
  border-color: #357680;
  color: #fff;
  height: 100%;
  width: 100%;
  padding-top: 190px;
}

.hero-1 img {
  bottom: 0;
}

@media (max-width: 767px) {
  .hero-1 {
    padding-top: 120px;
  }
}

.hero-2 {
  min-height: 560px;
}

.hero-2 p {
  color: #fff;
  font-size: 18px;
}

.hero-3 {
  background-color: #202020;
  border-color: #357680;
  color: #fff;
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.1),
      rgba(30, 33, 37, 0.4)
    ),
    url(../images/content/hero/hero-3.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-3 img {
  bottom: 0;
}

.hero-3 h1 {
  font-size: 84px;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
}

.hero-3 p {
  color: #fff;
}

@media (max-width: 767px) {
  .hero-3 h1 {
    font-size: 34px;
  }
  .hero-3 {
    min-height: 100%;
  }
}

.hero-4 {
  border-color: #357680;
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: relative;
}

.hero-4 .container {
}

.hero-4 img {
  max-width: 100%;
}

.hero-4 h1 {
  font-size: 44px;
  line-height: 1;
  letter-spacing: 3px;
}
.hero-4 a.more {
  padding: 0 20px;
  color: #beb7c1;
  font-size: 14px;
}

@media (max-width: 767px) {
  .hero-4 {
    padding-top: 70px;
    min-height: 100%;
  }
  .hero-4 .container {
    position: static;
    top: 80px;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.15, 1.15);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.15, 1.15);
  }
}

.hero-5 {
  background-color: #fff;
  border-color: #357680;
  color: #000;
  height: 100%;
  width: 100%;
  position: relative;
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

.hero-5 .fix-bottom {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}
.hero-5 img {
  bottom: 0;
}
.hero-5 h4 {
  font-weight: 800 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4c8c40;
}
.hero-5 hr {
  border-top: 4px solid #98c93f;
}
.hero-5 .carousel-control {
  width: 10%;
  opacity: 0.7;
}
.hero-5 p {
  color: #000;
}
.hero-5 img {
   /* Chrome, Safari, Opera */
}

@media (max-width: 767px) {
  .hero-5 .text-center-xs {
    text-align: center;
  }
  .hero-5 .mt-0 {
    margin-top: 10px;
  }
}

.hero-6 {
  background-color: #202020;
  border-color: #357680;
  color: #fff;
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.1),
      rgba(30, 33, 37, 0.4)
    ),
    url(../images/content/hero/hero-6.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-6 img {
  bottom: 0;
  height: 280px;
}
.hero-6 p {
  color: #fff;
}
.hero-6 a {
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #b3b3b3;
}

.hero-6 p.lead {
  text-transform: uppercase;
  font-size: 13px;
  color: #efefef;
  margin-bottom: 6px;
  font-weight: bold;
  letter-spacing: 2px;
}
.down-text {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .hero-6 {
    min-height: 100%;
  }
  .hero-6 img {
    height: auto;
    max-width: 80%;
  }
}

/* Hero 7 */
.hero-7 {
  background-color: #202020;
  border-color: #357680;
  color: #fff;
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.1),
      rgba(30, 33, 37, 0.4)
    ),
    url(../images/content/hero/hero-7.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-7 img {
  bottom: 0;
}
.hero-7 p {
  color: #fff;
}
@media (max-width: 767px) {
  .hero-7 {
    min-height: 100%;
  }
}
/* Hero 8 */

.hero-8 {
  border-color: #357680;
  color: #fff;
  min-height: 500px;
  padding-top: 120px;
  padding-bottom: 80px;
  background-position: 80% 100%;
  background-repeat: no-repeat;
  background-image: url(../images/content/hero/hero-8.png);
}

.hero-8 p {
  color: #fff;
}

.hero-8 h1 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .hero-8 {
    background-image: none;
  }
}

/* Hero 9 */

.hero-9 {
  background-color: #222;
  border-color: #357680;
  color: #fff;
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.5),
      rgba(30, 33, 37, 0.3)
    ),
    url(../images/content/hero/hero-9.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-9 img {
  bottom: 0;
}
.hero-9 h1 {
  font-family: "Petrona", serif;
  font-size: 70px;
}
.hero-9 p {
  color: #4a4a4a;
}
@media (max-width: 767px) {
  .hero-9 {
    min-height: 100%;
  }
  .hero-9 h1 {
    font-size: 40px;
  }
}

.hero-10 {
  margin-top: 0px;
  margin-bottom: 60px;
  background-color: #222;
}

.hero-10 .container {
  width: 100%;
}

.hero-10 .col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.hero-10 .card-left,
.hero-10 .card-right {
  color: #fff;
  min-width: 100%;
  background-size: cover;
  background-position: center center;
}

.hero-10 .card-left {
  background-image: linear-gradient(rgba(30, 33, 37, 0), rgba(30, 33, 37, 0)),
    url(../images/content/hero/hero-10.jpg);
}

.hero-10 .card-left .content,
.hero-10 .card-right .content {
  padding-left: 80px;
  padding-right: 80px;
  min-height: 600px;
}
.hero-10 .card-right .content {
  padding-top: 20%;
  padding-bottom: 20%;
}

.hero-10 .card-left .content {
  padding-top: 140px;
}

/* Hero 11 */

.hero-11 {
  border-color: #357680;
  color: #fff;
  height: 100%;
  width: 100%;
  min-height: 660px;
  background-image: url(../images/content/hero/hero-11-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.hero-11 img {
  bottom: 0;
}
.hero-11 p {
  color: #e0e0e0;
}
.hero-11 h1 {
  font-size: 84px;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 767px) {
  .hero-11 {
    min-height: 100%;
  }
  .hero-11 h1 {
    font-size: 40px;
  }
}

.hero-12 {
  background-color: #fff;
  border-color: #357680;
  color: #292929;
}
.hero-12 .container {
  width: 100%;
  padding-left: 0px;
}
.hero-12 .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}
.hero-12 img {
  width: 100%;
}

@media (max-width: 767px) {
  .hero-12 img {
    margin-top: 0px;
  }

  .hero-12 h1 {
    margin-bottom: 100px;
  }
}

.hero-12 p {
  color: #4a4a4a;
}

@media (max-width: 767px) {
  .hero-11 {
    padding-top: 70px;
  }
}

.hero-13 {
  background-color: #f9f7d5;
}

.hero-14 .container {
  width: 100%;
  padding-left: 0px;
}

.hero-15 {
  background-color: #fff;
  border-color: #357680;
  color: #292929;
}
.hero-15 .container {
  width: 100%;
  padding-left: 0px;
}
.hero-15 .col-md-6,
.hero-15 .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.hero-15 img {
  width: 100%;
}
.hero-15 img:hover {
  opacity: 0.1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .hero-15 img {
    margin-top: 0px;
  }
  .hero-15 h1 {
    margin-bottom: 100px;
  }
}
.hero-15 p {
  color: #4a4a4a;
}

.hero-16 {
  background-color: #202020;
  border-color: #357680;
  color: #fff;
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.1),
      rgba(30, 33, 37, 0.4)
    ),
    url(../images/content/hero/hero-16.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-16 img {
  bottom: 0;
}

.hero-16 h1 {
  font-size: 84px;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero-16 p.lead {
  text-transform: uppercase;
  font-size: 13px;
  color: #efefef;
  margin-bottom: 6px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero-16 p {
  color: #fff;
}

@media (max-width: 767px) {
  .hero-16 {
    min-height: 100%;
  }
  .hero-16 h1 {
    font-size: 36px;
  }
}

.hero-18 {
  background-color: #fff;
  border-color: #357680;
  color: #292929;
}
.hero-18 .container {
  width: 100%;
  padding-left: 0px;
}
.hero-18 .col-md-6,
.hero-18 .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.hero-18 img {
  width: 100%;
}
@media (max-width: 767px) {
  .hero-18 img {
    margin-top: 0px;
  }
}

.hero-19-left {
  background: url(../images/content/hero/hero-19.jpg);
  background-position: 0%;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  height: 50vw;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  background-color: #fafafa;
  color: #202020;
}
.hero-19-right {
  background-image: url(../images/content/hero/hero-19-2.jpg);
  background-position: 100%;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  height: 50vw;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
}
.hero-19-left .container,
.hero-19-right .container {
  width: 100%;
}

.hero-19-left .col-md-6,
.hero-19-right .col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}
.hero-19-left .content,
.hero-19-right .content {
  padding: 15%;
}
.hero-19-left h1 {
  font-size: 50px;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero-19-right h1 {
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 767px) {
  .hero-19-left,
  .hero-19-right {
    background-size: 100% 100%;
  }
  .hero-19-left .content {
    background-color: #fff;
  }
  .hero-19-right .content {
    background-color: #222;
  }
}

.hero-20 .container {
  width: 100%;
}
.hero-20 .content {
  margin-top: 80px;
  margin-bottom: 120px;
}
.hero-20 h1 {
  font-size: 28px;
}

.hero-21 {
  background-color: #202020;
  border-color: #357680;
  color: #fff;
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.1),
      rgba(30, 33, 37, 0.4)
    ),
    url(../images/content/hero/hero-21.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-21 img {
  bottom: 0;
}

.hero-21 h1 {
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: bold !important;
  margin-bottom: 20px;
}

.hero-21 p.lead {
  text-transform: uppercase;
  font-size: 13px;
  color: #efefef;
  margin-bottom: 6px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero-21 p {
  color: #fff;
}

@media (max-width: 767px) {
  .hero-21 {
    min-height: 100%;
  }
  .hero-21 h1 {
    font-size: 36px;
  }
}

.hero-23 {
  background-color: #202020;
  border-color: #357680;
  color: #fff;
  height: 100%;
  width: 100%;
  min-height: 660px;
  position: relative;
  background-image: linear-gradient(
      rgba(30, 33, 37, 0.3),
      rgba(30, 33, 37, 0.5)
    ),
    url(../images/content/hero/hero-23.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-23 img {
  bottom: 0;
}

.hero-23 h1 {
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: bold !important;
}

.hero-23 p.lead {
  text-transform: uppercase;
  font-size: 13px;
  color: #efefef;
  margin-bottom: 6px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero-23 p {
  color: #fff;
}

@media (max-width: 767px) {
  .hero-23 {
    min-height: 100%;
  }
  .hero-23 h1 {
    font-size: 36px;
  }
}

#masonry3 {
  position: relative;
  max-width: 100%;
  width: 100%;
}

#masonry3 .white-panel {
  position: absolute;
  background: transparent;
  padding: 30px;
}

#masonry4 {
  position: relative;
  max-width: 100%;
  width: 100%;
}

#masonry4 .white-panel {
  position: absolute;
  background: transparent;
  padding: 0px;
}

#masonry5 {
  position: relative;
  max-width: 100%;
  width: 100%;
}

#masonry5 .white-panel {
  position: absolute;
  background: transparent;
  padding: 0px;
}

.hero-13 img,
.hero-14 img,
.hero-20 img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: transparent;
  padding: 30px;
}

.white-panel:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
  .white-panel {
    position: absolute;
    background: transparent;
    padding: 0px;
  }
  #masonry3 .white-panel {
    position: absolute;
    background: transparent;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.fullscreen {
  height: 100vh;
}

.background-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #292929;
  background-size: cover !important;
  background-position: 50% 50% !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 0;
}

.v-align-transform {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
}

.play-button.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}
.play-button.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31px;
  border-color: transparent transparent transparent #ffffff;
}
.play-button.large.dark:before {
  border-color: transparent transparent transparent #292929;
}
.play-button.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

/*! HERO BLOCKS END */

/*! HEADERS BLOCKS */

/*  HEADER 1  */

.header-1 {
  color: #fff;
}
p .header-1 p {
  color: #fff;
}

/*  HEADER 2  */

.header-2 {
  background-color: #1e2125;
  background-image: url(../images/content/header-2.jpg);
  background-position: center center;
  background-size: cover;
}

/*  HEADER 3  */

.header-3 {
  background-color: #1e2125;
  background-image: url(../images/content/header-3.jpg);
  background-position: center center;
  background-size: cover;
}

.header-3 h1 {
  color: #fff;
}

/*  HEADER 4  */

/*  HEADER 5  */

.header-5 {
  background-image: url(../images/content/header-5.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.header-5 p {
  color: #dbdbdb;
}

/*  HEADER 6  */

.header-6 {
  height: 100%;
  min-height: 660px;
  width: 100%;
  position: absolute;
  color: #fff;
  background: linear-gradient(rgba(30, 33, 37, 0), rgba(30, 33, 37, 0.5)),
    url(../images/content/header-6.jpg);
  background-position: center center;
  background-size: cover;
}
.header-6 .container {
  position: absolute;
  bottom: 50px;
}
.header-6 p {
  color: #fff;
}
@media (max-width: 767px) {
  .header-6 {
    min-height: 100%;
  }
}

/*  HEADER 7  */

.header-7 {
  background-image: url(../images/content/header-7.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.header-7 h1 {
  text-transform: uppercase;
  letter-spacing: 18px;
  font-weight: 500 !important;
}
.header-7 a {
  font-weight: 500;
  color: #fff;
}
.header-7 p {
  color: #dbdbdb;
}
@media (max-width: 767px) {
  .header-7 h1 {
    letter-spacing: 5px;
  }
}

/*! HEADERS BLOCKS END */

/*! VARIOUS BLOCKS */

.various-1 {
  min-height: 530px !important;
  background-color: #f6f6f6;
  background-image: url(../images/content/various-1.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 50px;
}

/*! VARIOUS BLOCKS END */

/*! GALLERY BLOCKS */

/* Gallery 1 */

.gallery-1 img {
  min-height: 200px;
}

/* Gallery 2 */

.gallery-2 img {
  min-height: 200px;
}

/* Gallery 3 */

.gallery-3 .container {
  width: 100%;
  padding-left: 0px;
}

.gallery-3 img {
  width: 100%;
}

.gallery-3 .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}

/* Gallery 4 */

.gallery-4 img {
  min-height: 399px;
  max-height: 400px;
}

/* Gallery 5 */

.gallery-5 .card-left,
.gallery-5 .card-right {
  background-color: #222222;
  color: #fff;
  min-width: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 460px;
  padding: 6%;
}

.gallery-5 .card-left {
  width: 100%;
  background-image: url(../images/content/gallery/17.jpg);
}

.gallery-5 .card-left img,
.gallery-5 .card-right img {
  width: 100%;
}

.gallery-5 .card-right {
  background-image: url(../images/content/gallery/6.jpg);
}

/* Gallery 6 */

.gallery-6 img.big {
  min-height: 400px;
  max-height: 400px;
}

.gallery-6 img.small {
  min-height: 200px;
  max-height: 200px;
}

/* Gallery 7 */

.gallery-7 .container {
  width: 100%;
  padding-left: 0px;
  color: #fff;
}

.gallery-7 img {
  width: 100%;
  min-height: 570px;
  display: block;
}

.gallery-7 .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  position: relative;
}

.gallery-7 .overlay {
  position: absolute;
  bottom: 30px;
}

@media (max-width: 767px) {
  .gallery-1 img {
    min-height: 40px;
  }
  .gallery-2 img {
    min-height: 40px;
  }
  .gallery-4 img {
    min-height: 40px;
  }
  .gallery-5 .card-left .content,
  .gallery-5 .card-right .content {
    padding: 30px 30px;
  }
}

/*! GALLERY BLOCKS END */

/*! SOCIAL BLOCKS */

/* Social */

.social-1 {
  height: auto;
}

.social-1 .container {
  width: 100%;
  padding-left: 0px;
}

.social-1 a {
  color: #fff;
}

.social-1 a i.big {
  font-size: 30px;
}

.social-1 .col-md-3,
.social-1 .col-md-4,
.social-1 .col-md-6,
.social-1 .col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.social-1 .pinterest,
.social-1 .facebook,
.social-1 .twitter,
.social-1 .instagram {
  transition: all 0.4s;
}

.social-1 .pinterest {
  background-color: #cc2127;
}

.social-1 .pinterest:hover {
  background-color: #bc1b28;
}

.social-1 .facebook {
  background-color: #3b5998;
}

.social-1 .facebook:hover {
  background-color: #2c4573;
}

.social-1 .twitter {
  background-color: #55acee;
}

.social-1 .twitter:hover {
  background-color: #418ec0;
}

.social-1 .instagram {
  background-color: #3f729b;
}

.social-1 .instagram:hover {
  background-color: #2e5875;
}

.social-2 {
  border-color: #e0e0e0;
  padding-top: 23px;
  padding-bottom: 23px;
}

.social-2 p {
  font-size: 15px;
  margin-bottom: 0px;
}

.social-2 a {
  font-size: 16px;
  text-transform: none;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 0px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 4px;
  transition: ease all 0.3s;
}

.social-2 a:hover {
  border: 1px solid #404040;
}

@media (max-width: 767px) {
  .social-2 i.fa {
    margin-right: 0px;
    font-size: 20px;
  }
}

.social-3 {
}

.social-3 p {
  font-size: 15px;
  margin-bottom: 0px;
}

.social-3 a {
  font-size: 100px;
  text-transform: none;
  color: #404040;
  padding: 10px 40px;
  letter-spacing: 0px;
  border-color: transparent;
  border-radius: 4px;
  transition: ease all 0.3s;
}
.social-3 a:hover {
  color: #303030;
}

@media (max-width: 767px) {
  .social-3 i.fa {
    margin-right: 0px;
    font-size: 30px;
    padding: 10px 5px;
  }
}

.social-4.bg {
  background-image: url(../images/content/social-4.jpg);
  background-size: cover;
  background-position: center center;
}

.social-4 .btn-facebook,
.social-5 .btn-facebook {
  background-color: #3b5998;
  color: #fff;
}
.social-4 .btn-facebook:hover,
.social-4 .btn-facebook:focus,
.social-5 .btn-facebook:hover,
.social-5 .btn-facebook:focus {
  background-color: #2c4573;
}
.social-4 .btn-twitter,
.social-5 .btn-twitter {
  background-color: #55acee;
  color: #fff;
}
.social-4 .btn-twitter:hover,
.social-4 .btn-twitter:focus,
.social-5 .btn-twitter:hover,
.social-5 .btn-twitter:focus {
  background-color: #418ec0;
}

.social-4 .btn-soundcloud,
.social-5 .btn-soundcloud {
  background-color: #ff5500;
  color: #fff;
}
.social-4 .btn-soundcloud:hover,
.social-4 .btn-soundcloud:focus,
.social-5 .btn-soundcloud:hover,
.social-5 .btn-soundcloud:focus {
  background-color: #ff3300;
}

.social-4 .btn-youtube,
.social-5 .btn-youtube {
  background-color: #e52d27;
  color: #fff;
}
.social-4 .btn-youtube:hover,
.social-4 .btn-youtube:focus,
.social-5 .btn-youtube:hover,
.social-5 .btn-youtube:focus {
  background-color: #b31217;
}

.social-4 .btn-pinterest,
.social-5 .btn-pinterest {
  background-color: #cc2127;
  color: #fff;
}
.social-4 .btn-pinterest:hover,
.social-4 .btn-pinterest:focus,
.social-5 .btn-pinterest:hover,
.social-5 .btn-pinterest:focus {
  background-color: #cc2927;
}

.social-4 .btn-skype,
.social-5 .btn-skype {
  background-color: #00aff0;
  color: #fff;
}
.social-4 .btn-skype:hover,
.social-4 .btn-skype:focus,
.social-5 .btn-skype:hover,
.social-5 .btn-skype:focus {
  background-color: #00aff0;
}
.social-4 .btn-medium,
.social-5 .btn-medium {
  background-color: #202020;
  color: #fff;
}
.social-4 .btn-medium:hover,
.social-4 .btn-medium:focus,
.social-5 .btn-medium:hover,
.social-5 .btn-medium:focus {
  background-color: #;
}
.social-4 .btn-foursquare,
.social-5 .btn-foursquare {
  background-color: #0072b1;
  color: #fff;
}
.social-4 .btn-foursquare:hover,
.social-4 .btn-foursquare:focus,
.social-5 .btn-foursquare:hover,
.social-5 .btn-foursquare:focus {
  background-color: #0cbadf;
}
.social-4 .btn-linkedin,
.social-5 .btn-linkedin {
  background-color: #0976b4;
  color: #fff;
}
.social-4 .btn-linkedin:hover,
.social-4 .btn-linkedin:focus,
.social-5 .btn-linkedin:hover,
.social-5 .btn-linkedin:focus {
  background-color: #000000;
}
.social-4 .btn-paypal,
.social-5 .btn-paypal {
  background-color: #009cde;
  color: #fff;
}
.social-4 .btn-paypal:hover,
.social-4 .btn-paypal:focus,
.social-5 .btn-paypal:hover,
.social-5 .btn-paypal:focus {
  background-color: #003087;
}
.social-4 .btn-dribbble,
.social-5 .btn-dribbble {
  background-color: #ea4c89;
  color: #fff;
}
.social-4 .btn-dribbble:hover,
.social-4 .btn-dribbble:focus,
.social-5 .btn-dribbble:hover,
.social-5 .btn-dribbble:focus {
  background-color: #444444;
}

.social-4 .btn-vk,
.social-5 .btn-vk {
  background-color: #45668e;
  color: #fff;
}
.social-4 .btn-vk:hover,
.social-4 .btn-vk:focus,
.social-5 .btn-vk:hover,
.social-5 .btn-vk:focus {
  background-color: #45668e;
}

.social-4 .btn-dropbox,
.social-5 .btn-dropbox {
  background-color: #007ee5;
  color: #fff;
}
.social-4 .btn-dropbox:hover,
.social-4 .btn-dropbox:focus,
.social-5 .btn-dropbox:hover,
.social-5 .btn-dropbox:focus {
  background-color: #7b8994;
}

.social-4 .btn-instagram,
.social-5 .btn-instagram {
  background-color: #3f729b;
  color: #fff;
}
.social-4 .btn-instagram:hover,
.social-4 .btn-instagram:focus,
.social-5 .btn-instagram:hover,
.social-5 .btn-instagram:focus {
  background-color: #428bca;
}

.social-5 .container {
  width: 100%;
  padding-left: 0px;
}
.social-5 .col-md-12 {
  padding-right: 0px;
}

/*! SOCIAL BLOCKS END */

/*! DIVIDERS */

hr.dashed {
  border-style: solid;
  border-width: 2px;
  border-color: #f3f3f3;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

hr.shadowDown {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: inset 0 12px 12px -14px rgba(0, 0, 0, 0.25);
  height: 11px;
}

.divider {
  line-height: 0px !important;
  height: 0px;
  border-width: 1px;
  border-color: #e0e0e0;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.divider.dashed {
  border-style: dashed;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.divider.solid {
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.divider.dotted {
  border-style: dotted;
  border-width: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #e8edef;
}

.divider.dotted > span {
  line-height: 0.7em;
}

.divider > span {
  background: #fff;
  text-transform: none;
  font-style: normal;
  padding: 0px 20px;
}

.wrapperDark {
  background: #3d566e;
  padding: 60px 0px;
}

.wrapperDark .divider.dashed {
  border-color: #1abc9c;
  border-style: dashed;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: #eee;
  margin: 0px;
}

.wrapperDark .divider.dashed > span {
  background: #3d566e;
  font-style: normal;
  color: #eee;
  font-weight: 200;
}

/*! DIVIDERS END */

/*! PRICING */

.pricing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pricing1 {
  text-align: center;
  border: 1px solid #f0f0f0;
}

.pricing1 .top {
  border-bottom: 1px solid #f0f0f0;
  padding: 40px 0px;
}

.pricing1 .top h2 {
  margin-bottom: 10px;
}

.pricing1 .top > * {
  margin: 0px;
}

.pricing1 .top .price {
  font-size: 34px;
  font-weight: bold;
  color: #00cc7b;
}

.pricing1 .top .price span {
  font-size: 16px;
  font-weight: normal;
  color: #dcdcdc;
}

.pricing1 .bottom {
  padding: 40px;
}

.pricing1 .bottom ul {
  list-style: none;
  list-style-type: none;
  font-size: 16px;
  color: #4d4d4d;
  margin: 0px 0px 40px;
  padding: 0px;
}

.pricing2 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  transition: box-shadow 1s;
  -webkit-transition: box-shadow 1s;
  -moz-transition: box-shadow 1s;
}

.pricing2 .top {
  background: #222222;
  color: #eee;
  padding: 40px;
  color: #ecf0f1;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
}

.pricing2 .top h2 {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold !important;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pricing2 .top > * {
  margin: 0px;
}

.pricing2 .top .price .currency {
  font-size: 24px;
  line-height: 54px;
  vertical-align: top;
  display: inline-block;
  color: #424242;
}

.pricing2 .top .price b {
  font-size: 60px;
  line-height: 70px;
  color: #fff;
  font-weight: lighter;
}

.pricing2 .top .price .month {
  color: #424242;
}

.pricing2 .bottom {
  border: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pricing2 .bottom ul {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.pricing2 .bottom ul li {
  line-height: 64px;
  border-bottom: 1px solid #eef2f4;
  padding: 0px 40px;
}

.pricing2 .bottom ul li > i {
  color: #00cc7b;
  height: 20px;
  margin-right: 14px;
}

.pricing2 .bottom > a {
  margin: 40px;
  width: auto;
}

.pricing3 {
  text-align: center;
  color: #8c9899;
}

.pricing3 .top {
  padding: 40px;
  border: 0px;
  background-color: #222222;
}

.pricing3 .top .price {
  font-weight: normal;
  font-size: 40px;
  color: #fff;
}

.pricing3 .top > * {
  margin: 0px;
}

.pricing3 .top h2 {
  text-transform: none;
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

h5.features {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.8px;
  font-weight: bold !important;
}

.pricing3 ul {
  list-style: none;
  list-style-type: none;
  padding: 0px;
}

.pricing3 ul li {
  line-height: 52px;
  border-bottom: 1px solid #f0f0f0;
  color: #4d4d4d;
}

.pricing3 ul li:last-child {
  border-bottom: 0px;
}

.pricing3 ul li b {
  color: #707c7d;
}

.pricing3 .bottom {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: 30px;
}

.pricing3 > a {
  display: block;
  background: #00cc7b;
  padding: 30px;
  margin-top: 0px !important;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  border: 0px;
  transition: background 0.5s border-color 0.5s;
  -webkit-transition: background 0.5s border-color 0.5s;
  -moz-transition: background 0.5s border-color 0.5s;
}

.pricing3 > a:hover {
  background: #00ba70;
  border-color: #transparent;
}

span.pIcon {
  font-size: 34px;
  color: #2980b9;
}

.pricing-4 .price {
  font-size: 78px;
  font-weight: 100 !important;
  letter-spacing: 4px;
}
.pricing-4 .box p {
  opacity: 0.9;
  font-size: 15px;
}

/*! PRCING END */

/*! TEAM */

.team {
  padding-top: 40px;
  padding-bottom: 30px;
}

.team h2 {
  padding-bottom: 40px;
}

.team p.lead {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #292929;
  padding-top: 20px;
  padding-bottom: 20px;
}

.team .over {
  width: 75%;
  margin: 0px auto 40px;
}

.team .narrow > div:first-child {
  width: 75%;
  margin: 0px auto 40px;
}

.team .narrow .over {
  width: 100%;
}

.team .over img {
  width: 100%;
  display: block;
}

a.over {
  display: block;
  position: relative;
}

a.over .overlay {
  position: absolute;
  display: table-cell;
  left: 0px;
  top: 0px;
  background: rgba(54, 208, 119, 0.6);
  height: 100%;
  line-height: 197px;
  width: 100%;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  text-align: center;
  color: #fff;
  font-size: 40px;
  vertical-align: middle;
}

.team img.teamImage {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.team .narrow img.teamImage {
  width: 100%;
}

.team .narrow .over .overlay {
  line-height: 270px;
}

a.over:hover .overlay {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.team .social a {
  color: #dfdfdf;
  transform: color 1s;
  font-size: 18px;
}

.team .narrow .social {
  text-align: right;
}

.team .social a:hover {
  color: #00cc7b;
}

.team .narrow .social a {
  color: #16a085;
  font-size: 26px;
}

.team .social a:hover {
  color: #00cc7b;
}

.team .photo {
  width: 25%;
  margin-right: 20px;
}

.team .photo img {
  width: 100%;
}

.team .about {
  width: 65%;
}

.team .about h5 {
  margin-top: 0px;
}

.team .contacts {
  font-size: 13px;
  color: #000;
}

.team .contacts a {
  color: #000;
  text-decoration: underline;
}

.team .contacts span {
  color: #00cc7b;
  margin-right: 5px;
  font-size: 12px;
}

/*! TEAM END */

/*! CONTACT */

b.chead {
  color: #c2c2c2;
}

b.chead span {
  color: #c2c2c2;
  font-size: 18px;
  margin-right: 0px;
}

p.text-light {
  color: #7f8c8d;
}
.wrapper.grey {
  background: #ecf0f1;
  border-top: 1px solid #d3d9dd;
  border-bottom: 1px solid #d3d9dd;
  padding: 80px 0px;
}

/*! CONTACT END */

/*! PADDING CLASSES */
.pt-0 {
  padding-top: 0px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-110 {
  padding-top: 110px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-130 {
  padding-top: 130px;
}
.pt-140 {
  padding-top: 140px;
}
.pt-150 {
  padding-top: 150px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-110 {
  padding-bottom: 110px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-130 {
  padding-bottom: 130px;
}
.pb-140 {
  padding-bottom: 140px;
}
.pb-150 {
  padding-bottom: 150px;
}

/*! MARGIN CLASSES */
.mt-0 {
  margin-top: 0px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-110 {
  margin-top: 110px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-130 {
  margin-top: 130px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-150 {
  margin-top: 150px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-110 {
  margin-bottom: 110px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-130 {
  margin-bottom: 130px;
}
.mb-140 {
  margin-bottom: 140px;
}
.mb-150 {
  margin-bottom: 150px;
}
