@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme(colors.gray);
  overflow-x: hidden;
}

section {
  scroll-margin-block-start: 6rem;
}

@media only screen and (max-width: 431px) {
  .w-full {
    height: 100vh;
  }
  h1{
    font-size: 40px !important;
    line-height: 48px !important;
  }
  p{
    font-size: 18px !important;
    line-height: 28px !important;
  }
  #svelte{
    overflow: hidden;
  }
  .contact{
    width: 190px !important;
    height: 60px;
    margin-block-start: 48px !important;
    padding: 16px 26px !important;;
    font-size: 18px !important;;
    line-height: 28px !important;
  }
  .contact img {
    width: 16px !important;
  }
}